version: '3.8'

services:
  # 1. Database Service (MongoDB)
  mongo:
    image: mongo:latest
    container_name: mern-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  # 2. Backend Service
  backend:
    build: ./backend
    container_name: mern-backend
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
      - MONGO_URI=mongodb://mongo:27017/user-management
      - JWT_SECRET=supersecretkey123
    depends_on:
      - mongo

  # 3. Frontend Service
  frontend:
    build: ./frontend
    container_name: mern-frontend
    ports:
      - "5173:80" # Maps localhost:5173 to container's port 80
    depends_on:
      - backend

volumes:
  mongo-data: